<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/blog" method="post">
        <p>name</p>
            <input type="text" name="name" value="">
        <p>job</p>        
            <input type="text" name="job" value="">
        <p>title of artical</p>        
            <input type="text" name="title" value="">
        <p> details </p>
            <textarea name="description"></textarea>
            <input type="submit" name="" value="Send">            
        </form>
    </body>
</html>