<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=pageTitle%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome in Home page <span> ♥ <span> </h1>
        <ul>
            <li><a href="/">Home page</a></li>
            <li><a href="/posts">Add posts</a></li>          
            <li><a href="/remove">remove</a></li>      
        </ul>
          <% for(var i=0;i<data.length;i++){ %>
         <h3> <%=data[i].title%> </h3>
         <p> <%=data[i].description%></p>
         <img class="responsive-img"src="<%= data[i].img %>">
         <hr>
         <% } %>
    </body>
</html>