<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=pageTitle%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome in Home page <span> ♥ <span> </h1>
        <ul>
            <li><a href="/">Home page</a></li>
            <li><a href="/signup">Signup</a></li>          
            <li><a href="/signin">Signin</a></li>      
            <li><a href="/contact">Contact</a></li>
        </ul>
    </body>
</html>