<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="assets/css/style.css" rel="stylesheet">
    </head>
    <body>
    <div class="row">
    <div class='container'>
    <h1 class="center">remove post has title</h1>
         
        <form action="/remove" method="POST"> 
        <div class="file-field input-field">
            <span>remove post has title</span>
            <input type="text" name="title">
        </div>
        <button class="btn center"type="submit">Submit</button>    
  </form>
  <% for(var i=0;i<data.length;i++){ %>
         <h3> <%=data[i].title%> </h3>
         <p> <%=data[i].description%></p>
         <img class="responsive-img"src="<%= data[i].img %>">
         <hr>
         <% } %>
         
    </div>   
        
    </div>   
        
  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>